* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 38px;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.app {
  background-color: #E30713;
  max-width: 1080px;
  margin: 0 auto;
  padding: 46px 40px 50px;
  position: relative;
  
}

.logo-left-box {
  max-width: 446px;
}

.logo-left-box img {
  width: 100%;
}

.logo-right-box {
  max-width: 385px;
}

.logo-right-box img {
  width: 100%;
}


.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 90px;
}



.rules__inner {
  background-color: #fff;
  border-radius: 80px;
  padding: 0 40px 20px;
}

.rules__title {
  color: #E30713;
  text-align: center;
  font-size: 100px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -3.425px;
  text-transform: uppercase;
  padding-top: 24px;
  
}
.rules__subtitle {
  color: #2C2C2C;
  text-align: center;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.575px;
  margin-bottom: 42px;
}

.rules__list {
  list-style: none;
}

.rules__item img {
  margin-left: 38px;
  margin-right: 10px;
}

.rules__item {
  margin-bottom: 55px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: -0.95px;
  padding-bottom: 15px;
}

.rules__item:last-child {
  margin-bottom: 0;
}

.start-game {
  padding: 50px 250px;
  border-radius: 20px;
  border: 3px solid #FFF;
  background-color: transparent;
  cursor: pointer;
  width: 824px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.question__inner {
  background-color: #fff;
  border-radius: 80px;
  padding: 20px 60px;
  height: 1277px;
  display: flex;
  flex-direction: column;
}

.question__img-box {
  text-align: center;
  margin-bottom: 20px;
}

.quastion__title {
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -9.8px;
  text-transform: uppercase;
  color: #E30713;
  text-align: center;
}
.question__text{
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 57px;
  letter-spacing: -1.45px;
  margin-bottom: 30px;
  margin-bottom: auto;
}

.question__item {
  margin-bottom: 15px;
  padding: 34px 40px;
  border-radius: 30px;
  border: 3px solid #E30713;
  
}

.question__item:last-child {
  margin-bottom: 0;
}

.question__label{
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.question__res {
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: -0.975px;
}
.radio-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.radio {
  display: inline-block;
  width: 54px;
  height: 54px;
  border: 1px solid #E30713;
  border-radius: 50%;
  background-color: #FFF;
  position: relative;
}

.radio::after{
  content: "";
  position: absolute;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #E30713;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: .2s;
  scale: 0;
}



.radio-input:checked + .radio::after {
  scale: 1;
}

.time {
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -2.9px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.time2{
  text-align: center;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -2.9px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.next-question {
  border-radius: 20px;
  border: 3px solid #FFF;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  background-color: #E30713;
  padding: 40px;
  max-width: 838px;
  margin: 20px auto 0;
  cursor: pointer;
}

.promo {
  background-color: #fff;
  border-radius: 80px;
  padding: 0 40px 20px;
}

.last-frame {
  background-color: #fff;
  border-radius: 80px;
  padding: 0 40px 20px;
  height: 1277px;
}

.last-frame__title {
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 142px;
  padding-top: 30px;
}

.last-frame__text {
  color: #2C2C2C;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: -1.325px;
  margin-bottom: 26px;
}

.points {
  font-size: 322px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -8px;
  text-transform: uppercase;
}

.last-frame__input {
  border-radius: 30px;
  border: 3px solid #000;
  background: #FFF;
  font-size: 44px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: -1.325px;
  color: #2C2C2C;
  padding: 15px;
  display: block;
  width: 100%;
  margin-bottom: 52px;
  height: 110px;
}

.confirm-text {
  color: #2C2C2C;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: -1.4px;
  padding-bottom: 60px;
}

.submit {
  padding: 50px 0;
  border-radius: 20px;
  border: 3px solid #FFF;
  background-color: transparent;
  cursor: pointer;
  max-width: 824px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.promo__title {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-bottom: 40px;
}

.da, .net {
  font-size: 50px;
  background-color: #fff;
  color: #E30713;
  border: 3px solid  #E30713;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 700;
}

.title {
  margin-bottom: 100px;
}


@media (max-width: 1080px) {
  .app {
    height: 100vh;
    padding: 20px 70px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .logo-left-box, .logo-right-box {
    max-width: 150px;
  }

  .head {
    padding: 0 40px 20px;
    justify-content: center;
    gap: 80px;
    margin-bottom: auto;
  }
  .rules__inner {
    height: 70vh;
  }
  .rules__title {
    font-size: 50px;
    padding-top: 15px;
  }
  .rules__subtitle {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .rules__item {
    margin-bottom: 30px;
    font-size: 30px;
    padding-bottom: 0;
    font-size: 22px;
    line-height: 25px;
  }
  .rules__item img {
    width: 20px;
  }
  .start-game {
    padding: 25px 150px;
    width: 630px;
  }
  .question__inner {
    height: 70vh;
  }
  .quastion__title {
    font-size: 50px;
    padding-top: 0;
  }
  .question__img-box {
    width: 250px;
    margin: 0 auto; 
  }
  .question__img-box img {
    width: 100%;
  }
  .next-question {
    height: 116px;
    padding: 0 20px;
    max-width: 700px;
  }
  .next-question img{
    width: 100%;
  }
  .question__text {
    font-size: 40px;
    line-height: 47px;
  }
  .question__item {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid #E30713;
  }
  .radio {
    height: 37px;
    width: 37px;
  }
  .question__res {
    font-size: 30px;
  }
  .time {
    font-size: 57px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 7px;
  }
  .question__label {
    gap: 10px;
  }
  .radio::after{
    width: 25px;
    height: 25px;
  }
  .last-frame {
    height: 70vh;
  }
  .rules__title {
    font-size: 30px;
    padding-top: 10px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .points {
    font-size: 140px;
  }
  .last-frame__text {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 26px;
  }
  .last-frame__input {
    border-radius: 15px;
    height: 80px;
    margin-bottom: 40px;
    border-radius: 20px;
  }
  .confirm-text {
    font-size: 42px;
  }
  .submit {
    height: 116px;
    padding: 35px 15px;
  }
  .submit img{
    height: 100%;
  }
}

@media (max-width: 768px) {
  .logo-left-box, .logo-right-box {
    max-width: 120px;
  }
  .rules__title {
    font-size: 40px;
  }
  
  .rules__item {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .app {
    padding: 20px 30px 20px;
  }
  .start-game {
    padding: 20px 30px;
    width: 490px;
  }
  .next-question {
    height: 106px;
  }
  .quastion__title {
    letter-spacing: -2.8px;
    font-size: 42px;
  }
  .question__text {
    font-size: 36px;
    line-height: 40px;
  }
  .question__item {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 13px;
  }
  .question__res {
    font-size: 27px;
  }
  .submit {
    height: 106px;
    padding: 32px 15px;
  }
  .rules__title {
    font-size: 36px;
  }
  .points {
    font-size: 110px;
  }
  .last-frame__text {
    font-size: 32px;
  }
  .confirm-text {
    font-size: 36px;
  }
}

@media (max-width: 610px) {
  .app {
    padding: 15px;
  }
  .rules__inner {
    padding: 15px;
    padding-top: 0;
  }
  .rules__title {
    font-size: 30px;
    padding-top: 5px;
  }
  .rules__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .rules__item {
    font-size: 18px;
    margin-bottom: 17px;
  }
  .start-game {
    padding: 18px 80px;
    width: 370px;
  }
  .start-game img {
    width: 100%;
  }
  .question__inner{
    padding: 15px;
  }
  .last-frame {
    padding: 15px;
  }
  .submit {
    height: 106px;
    padding: 36px 15px;
  }
} 

@media (max-width: 530px) {
  .rules__subtitle {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: auto;
  }
  
  .rules__title {
    font-size: 27px;
  }
  .rules__item {
    font-size: 17px;
    line-height: 23px;
  }
  .rules__item img {
    margin-left: 10px;
    margin-right: 5px;
    width: 16px;
  }
  .start-game {
    padding: 18px 80px;
    width: 320px;
  }
  .rules__inner {
    border-radius: 20px;
  }
  .question__inner {
    border-radius: 20px;
  }
  .next-question {
    height: 73px;
  }
  .quastion__title {
    letter-spacing: -2px;
    font-size: 36px;
  } 
  .question__text{
    font-size: 32px;
    line-height: 38px;
  }
  .question__res {
    font-size: 25px;
  }
  .question__item {
    padding: 8px 15px;
  }
  .radio {
    height: 35px;
    width: 35px;
  }
  .radio::after {
    width: 23px;
    height: 23px;
  }
  .submit {
    height: 76px;
    padding: 22px 15px;
  }
  .last-frame {
    border-radius: 20px;
  }
  .last-frame__input {
    margin-bottom: 20px;
  }
  .confirm-text{
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 450px) {
  .rules__inner {
    height: 76vh;
  }
  .start-game {
    margin-top: 15px;
  }
  .question__inner {
    height: 76vh;
  }
  .question__list {
    margin-bottom: 20px;
  }
  .last-frame {
    height: 76vh;
  }
  .last-frame__text {
    font-size: 29px;
  }
  .confirm-text {
    font-size: 29px;
  }
  .submit {
    padding: 24px 15px;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .rules__title {
    font-size: 25px;
  }
  .rules__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .rules__item {
    font-size: 16px;
    line-height: 21px;
  }
  .start-game {
    padding: 18px 80px;
    width: 300px;
  }
  .next-question {
    padding: 0 5px;
    height: 76px;
  }
  .quastion__title {
    font-size: 34px;
  }
  .submit {
    padding: 26px 15px;
    margin-top: 10px;
    
  }
}